@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(190, 191, 191);
    color: black;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 680px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 5px 15px 10px rgb(100, 88, 88);
}

form{
    width: 90%;
}

.form-group{
    height: 65px;
}

label{
    position: relative;
    bottom: 3px;
}

input{
    width: 100%;
    height: 34px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.4s;
}

input:valid{
    border: 3px solid green;
}

input:invalid{
    border: 3px solid red;
}

button{
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 5px;
}

button:hover{
    filter: brightness(200%);
    background-color: rgb(32, 32, 32);
}

button:focus{
    outline: none;
}

.message-container{
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: black;
}
